<div class="body">
  <div class="cont">
    <div class="top center">
        <mat-icon>construction</mat-icon>
        <p>Let's Work Together</p>
    </div>
    <h1>Let's Build Something</h1>
    <h1 class="sub-t">Great Together .</h1>
    <p>I'd Love to Hear From You</p>
    <div class="content">
      <div class="form-container center">
        <app-email [isDisabled]="isDisabledVal"></app-email>
      </div>
      
      <div class="socials">
        <div class="contact-img">
          <img src="assets/images/contact.png" alt="" loading="lazy" />
        </div>
        <h2 class="center">Get in touch</h2>
        <div class="contact-info">
          <div class="info">
            <i class="bi bi-envelope-at"></i> <span>{{ about.email }}</span>
          </div>
          <div class="info">
            <i class="bi bi-telephone"></i> <span>{{ about.cellphone }}</span>
          </div>
          <div class="info">
            <i class="bi bi-geo-alt"></i> <span>{{ about.address }}</span>
          </div>
          <div class="links">
            <app-socials></app-socials>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
