<div class="cont center">
  <div class="img-area center">
    <img src="assets/images/concerned_error.png" alt="" />
  </div>
  <div class="content">
    <h1 class="center">404 - Page not Found</h1>
    <div class="text-area">
      <p>
        <i>
          The bot sneezed and the page vanished. I should never have let the him
          near the deploy button.
        </i>
      </p>
    </div>
    <div class="bot">
      <img src="assets/images/bot.png" alt="" />
    </div>
    <div class="redirect">
      <p class="center">Click below while I fix my buddy’s little mistake</p>
      <div>
        <button  (click)="navigateToHome()" mat-button type="button" >Home</button>
      </div>
    </div>
  </div>
</div>
