<div class="cont">
  <div class="intro">
    <h1>About Me</h1>
    <div class="center description">
      {{ smallDescription }}
    </div>
    <div class="cards">
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          asdasdasa
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
