<div class="body">
  <div class="cont">
    <div class="intro">
      <!-- <h1 class="center">About Me<span class="text-primary">.</span></h1>
      <div class="center description">
        <h2>{{ smallDescription }}</h2>
      </div>
      <div class="cards">
        <mat-card *ngFor="let skill of skills">
          <mat-card-content class="center">
            <mat-icon class="center">
              {{ skill.icon }}
            </mat-icon>
            {{ skill.name }}
          </mat-card-content>
        </mat-card>
      </div> -->

      <div class="about">
        <div class="img-area center">
          <img src="assets/images/andile.jpg" alt="" />
        </div>

        <div class="text-h-cont">
          <div class="text-area">
            <h1>About Me</h1>
            <h4 classs="greet">
              Hi, I'm {{ about.firstName + " " + about.lastName }}
              <span class="text-primary">.</span>
            </h4>
            <h2>Full Stack Developer</h2>
            <p>
              {{ about.summary }}
            </p>
            <div class="sum-cards">
              <div *ngFor="let card of about.summary_cards" class="sum-card">
                <!-- <div class="card-icon"> -->
                <mat-icon>{{ card.icon }}</mat-icon>
                <!-- </div> -->
                <div class="sum-text">
                  <h3>{{ card.value }}</h3>
                  <!-- <h2>{{ card.description }}</h2> -->
                  <span>{{ card.title }}</span>
                  <!-- <span>{{ card.subtitle }}</span> -->
                </div>
              </div>
            </div>
          </div>

          <div class="text-sum">
            <div *ngFor="let point of about.key_points" class="sum-card">
              <mat-icon>{{ point.icon }}</mat-icon>

              <div class="sum-text">
                <h3>{{ point.name }}</h3>
                <span>{{ point.value }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider">
        <mat-divider></mat-divider>
        <h2 class="center">MY JOURNEY</h2>
        <mat-divider></mat-divider>
      </div>

      <div class="exp-section center">
        <div class="exps-cont">
          <div class="even-cont">
            <div *ngFor="let exp of evenExperiences" class="exp">
              <div class="top">
                <mat-icon>calendar_today</mat-icon>
                <p >{{ exp.startDate }} - {{ exp.endDate }}</p>
                <div class="active-indicator center" *ngIf="exp.endDate == 'present'">
                  <div class="circle"></div>
                  <span>Active</span>
                </div>
              </div>

              <div class="more-details">
                <div class="img-cont">
                  <img [src]="exp.logo_path" alt="company logo" />
                </div>
                <div class="text">
                  <h1>{{ exp.company }}</h1>
                  <h2>{{ exp.role }}</h2>
                  <p>{{ exp.description }}</p>
                </div>
              </div>

              <div class="techs-gained">
                <div class="tech" *ngFor="let tech of exp.technologies">
                  <img [src]="tech.path" alt="skill logo" />
                  <h4>{{ tech.name }}</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="center-cont">
            <div class="c-exp" *ngFor="let exp of experiences">
              <div class="t-line"></div>
              <div class="y-cont">
                <div [ngClass]="exp.odd? 'transparent':'l-pointer'"></div>
                <div class="year center">{{ exp.startYear }}</div>
                <div [ngClass]="!exp.odd? 'transparent':'r-pointer'"></div>
              </div>
              <div class="b-line"></div>
            </div>
          </div>

          <div class="odd-cont">
            <div *ngFor="let exp of oddExperiences" class="exp">
              <div class="top">
                <mat-icon>calendar_today</mat-icon>
                <p >{{ exp.startDate }} - {{ exp.endDate }}</p>
                <div class="active-indicator center" *ngIf="exp.endDate == 'present'">
                  <div class="circle"></div>
                  <span>Active</span>
                </div>
              </div>

              <div class="more-details">
                <div class="img-cont">
                  <img [src]="exp.logo_path" alt="company logo" />
                </div>
                <div class="text">
                  <h1>{{ exp.company }}</h1>
                  <h2>{{ exp.role }}</h2>
                  <p>{{ exp.description }}</p>
                </div>
              </div>

              <div class="techs-gained">
                <div class="tech" *ngFor="let tech of exp.technologies">
                  <img *ngIf="tech.path != ''" [src]="tech.path" alt="" />
                  <h4>{{ tech.name }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <mat-card *ngFor="let exp of experiences" class="exp">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ exp.role }}</mat-card-title>
              <mat-card-subtitle>{{ exp.job_type }}</mat-card-subtitle>
              <mat-card-subtitle>{{ exp.type }}</mat-card-subtitle>
              <img
                mat-card-image
                [src]="exp.logo_path"
                alt="Image of a Shiba Inu"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p>{{ exp.startDate }} - {{ exp.endDate }}</p>
            <p>
              {{ exp.description }}
            </p>
            <div class="cards">
              <mat-card *ngFor="let tech of exp.technologies">
                <mat-card-content>
                  {{ tech }}
                </mat-card-content>
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card> -->
      </div>

      <div class="divider">
        <mat-divider></mat-divider>
        <h2 class="center">TECH STACK</h2>
        <mat-divider></mat-divider>
      </div>

      <div class="skills-tab">
        <!-- <h2 class="center">Tech stack</h2> -->

        <!--FOR DESKTOP APPS-->
        <mat-tab-group animationDuration="1000ms">
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-title">
                <mat-icon class="center"> code </mat-icon>
                <p>Back End</p>
              </div>
            </ng-template>

            <div class="skills-cont center">
              <mat-card class="center" *ngFor="let skill of backEndSkills">
                <img mat-card-image [src]="skill.path" alt="" />
                <mat-card-subtitle class="center">
                  {{ skill.name }}
                </mat-card-subtitle>
                <mat-progress-bar
                  mode="determinate"
                  [value]="skill.percentage"
                ></mat-progress-bar>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-title">
                <mat-icon> code </mat-icon>
                <p>Front End</p>
              </div>
            </ng-template>

            <div class="skills-cont center">
              <mat-card class="center" *ngFor="let skill of frontEndSkills">
                <img mat-card-image [src]="skill.path" alt="" />
                <mat-card-subtitle class="center">
                  {{ skill.name }}
                </mat-card-subtitle>
                <mat-progress-bar
                  mode="determinate"
                  [value]="skill.percentage"
                ></mat-progress-bar>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-title">
                <mat-icon> construction </mat-icon>
                <p>tools</p>
              </div>
            </ng-template>
            <div class="skills-cont center">
              <mat-card class="center" *ngFor="let skill of tools">
                <img mat-card-image [src]="skill.path" alt="" />
                <mat-card-subtitle class="center">
                  {{ skill.name }}
                </mat-card-subtitle>
                <mat-progress-bar
                  mode="determinate"
                  [value]="skill.percentage"
                ></mat-progress-bar>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>

        <!--ONLY FOR MOBILE DEVICES-->
        <div class="skills-cont center mobile-tech-stack">
          <mat-card class="center" *ngFor="let skill of allSkills">
            <img mat-card-image [src]="skill.path" alt="" />
            <mat-card-subtitle class="center">
              {{ skill.name }}
            </mat-card-subtitle>
            <div class="profficiency">
              <mat-progress-bar
                mode="determinate"
                [value]="skill.percentage"
              ></mat-progress-bar>
              <p>{{ skill.percentage }}%</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
