.cont {
  margin-top: 55px;
  //
  overflow-y: scroll;
}
.intro {
  width: 90%;
  margin-left: 5%;
}
h4 {
  color: var(--font-color) !important;
  font-size: clamp(2rem, 2vw, 2rem);
  font-weight: 600;
  margin: 0 !important;
}

h1 {
  font-size: clamp(1rem, 2vw, 1rem);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  margin: 0 !important;
  color: var(--theme-icon);
}

h2 {
  // color: var(--tert-font-color);
  color: var(--sec-font-color) !important;
  display: flex;
  align-items: center;
  justify-content: left;
}
h2 mat-icon {
  align-items: center;
}
.description {
  width: 100%;
}

mat-card-content {
  align-items: center;
}
mat-icon {
  font-size: large;
  align-items: center;
  height: fit-content;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  overflow: visible;
}

.text-h-cont {
  width: 60%;
  display: flex;
  margin-left: 1%;

  animation: opacityTrans 0.5s ease-in;
}

.text-area {
  width: 70%;
  padding: 0 3%;
}
.sum-cards {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .sum-card {
    flex: 1;
    margin: 5% 0 0 0.8% !important;
    justify-content: center;
    mat-icon {
      width: 25% !important;
      font-size: xx-large !important;
      // color: var(--font-color) !important;
    }
  }
}
.text-sum {
  width: 99%;
  .sum-card {
    width: 90%;
    height: 15%;
  }
}
.cards-container {
  width: 30%;
  display: flex;
}
.pointer {
  width: 15%;
  height: 100%;
  // background-color: blue;
  .sum-pointer {
    height: calc(15% + 5px); // add 5px for margin - top
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
    .bar {
      width: 1px;
      flex: 1;
      opacity: 0.2;
      background-color: var(--theme-icon);
    }
    .circle {
      width: 7px;
      height: 7px;
      border: 2px solid var(--theme-icon);
      border-radius: 50%; // Better than clip-path for circles
      background: var(--background-color);
      flex-shrink: 0;
    }
  }
}
.text-sum,
.sum-cards {
  animation: opacityTrans 0.5s ease;
  .sum-card {
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid;
    margin-left: 1%;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    mat-icon {
      color: var(--font-color);
      width: 15%;
      height: 100%;
      font-size: x-large;
      display: flex;
      align-self: center;
      justify-content: center;
      color: var(--theme-icon);
    }
    .sum-text {
      margin-left: 5%;
      flex: 1;
      h3 {
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 600;
        font-size: small !important;
        color: var(--font-color);
      }
      span {
        width: 100%;
        font-size: small !important;
        color: var(--sec-font-color);
        font-style: italic;
      }
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 20px 0;
  h2 {
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    letter-spacing: 1px;
  }
  .circle {
    width: 7px;
    height: 7px;
    border: 2px solid var(--theme-icon);
    border-radius: 50%; // Better than clip-path for circles
    background: var(--theme-icon);
    flex-shrink: 0;
  }
  mat-divider {
    width: 5%;
    height: 1px;
    background-color: var(--theme-icon);
    // margin: 0 10px;
    opacity: 0.5;
  }
}

.img-area {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 0;
  border-radius: 150px;
  align-items: baseline;
  box-shadow: var(--box-shadow);
  animation: /*opacityTrans 5s ease-in,*/ floatEffect 3s ease infinite;
}
.img-area img {
  width: 100%;
}

.exp-section {
  width: 100%;
  flex-wrap: wrap;
  margin: 3% 0;
  .exps-cont {
    width: 70%;
    // background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    .odd-cont,
    .even-cont {
      width: 45%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.even-cont {
  .exp {
    margin-bottom: 50%;
  }
}
.odd-cont {
  .exp {
    margin-top: 50%;
  }
}
.center-cont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .c-exp {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .t-line,
  .b-line {
    flex: 1;
    width: 2px;
    // border-radius: 3px;
    background-color: var(--theme-icon);
    opacity: 0.3;
  }
  .b-line {
    border-radius: 1px 1px 0 0;
  }
  .t-line {
    border-radius: 0 0 1px 1px;
  }
  .y-cont {
    // background-color: red;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // flex:1;
    width: 100%;
    .l-pointer,
    .r-pointer {
      width: 20%;
      height: 1px;
      border-radius: 2px;
      background-color: var(--theme-icon);
      opacity: 0.2;
    }
    .year {
      width: 50%;
      border: 0.5px solid var(--sec-font-color);
      border-radius: 50px;
      color: var(--theme-icon);
      font-weight: bold;
    }
  }
}
.exp {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--nav-bg-color);
  box-shadow: 0 0 10px var(--sec-font-color);
  width: 100%;
  min-height: 350px;
  background-color: var(--nav-bg-color);
  color: var(--sec-font-color) !important;
  margin: 0.5%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;

  .top {
    padding: 3px;
    display: flex;
    max-height: 10%;
    // background-color: blue;
    width: 100% !important;
    flex: 1;

    mat-icon {
      // background-color: yellow;
      // width: 10%;
      font-size: x-large;
      margin-right: 3px;
    }
    p {
      // background-color: green;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 !important;
      color: var(--theme-icon);
      font-size: small !important;
    }
    .active-indicator {
      width: 15%;
      border-radius: 5px;
      // border: 1px solid;
      box-shadow: 0 0 10px var(--tert-font-color);
      align-items: center;
      .circle {
        height: 10px;
        width: 10px;
        border-radius: 10px;
        margin-right: 5px;
        background-color: rgba(0, 212, 0, 0.986);
        box-shadow: 0 0 20px rgb(136, 252, 3);
      }
    }
  }

  .more-details {
    display: flex;
    padding: 5px;
    // min-height: 40%;
    // max-height: 50%;
    // background-color: red;
    .img-cont {
      width: 25%;
      // border-radius: 10px;
      margin-right: 2%;
      overflow: hidden;
      max-height: 80%;
      // background-color: blue;
      img {
        width: 100%;
        min-height: 50%;
        border-radius: 6px;
      }
    }
    .text {
      flex: 1 !important;
      padding: none !important;
      // background-color: red;
      h1 {
        font-size: medium;
        margin: 0 !important;
        height: auto !important;
        padding: 0 !important;
        // background-color: yellow;
        color: var(--font-color);
      }
      h2 {
        font-size: medium;
        max-height: 10%;
        margin: 0 !important;
        color: var(--theme-icon) !important;
        padding: 0 !important;
        margin: 2px 0 !important;
        // font-style: ;
      }
      p {
        // background-color: red;
        margin: 0 0 !important;
      }
    }
  }

  .techs-gained {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: yellow !important;
    // margin-top: 5px;
    .tech {
      width: 25%;
      // max-width: 32%;
      height: 30px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid;
      background-color: var(--nav-bg-color);
      // background-color: var(--nav-bg-color);
      margin: 0.5%;
      backdrop-filter: blur(10px) !important;
      -webkit-backdrop-filter: blur(10px) !important;
      overflow: hidden;

      img {
        width: 15%;
        margin-right: 5px;
      }
      h4 {
        font-size: small;
        margin: 0 !important;
        color: var(--sec-font-color);
      }
    }
  }
}

.exp-section .cards mat-card {
  background: var(--card-sec-color) !important;
}
mat-card-subtitle {
  color: var(--tert-font-color);
  font-style: italic;
}

.exp-section mat-card img {
  max-width: 200px !important;
}
.skills-tab {
  margin-top: 70px;
  width: 100%;
  //
}
.tab-title {
  color: var(--sec-font-color);
  display: flex;
  justify-content: center;
  align-items: start;
}

.skills-cont {
  margin-left: 12%;
  margin-top: 2%;
  width: 70%;
  flex-wrap: wrap;
}

.skills-cont mat-card {
  width: 12%;
  background-color: var(--nav-bg-color);
  margin: 0.5%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

.skills-cont mat-card img {
  width: 90%;
  margin-left: 5%;
  margin-top: auto;
}
.profficiency {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}
.profficiency p {
  font-size: small !important;
  margin: auto;
}
mat-progress-bar {
  margin: 5% 0%;
  width: 80% !important;
}
.mobile-tech-stack {
  display: flex !important;
}
mat-tab-group {
  display: none;
}

@media (max-width: 820px) {
  p {
    // display: flex;
    text-align: center;
  }
  .intro {
    width: 100%;
    margin: 0;
  }
  .about {
    margin-top: 0;
    padding-top: 15px;
    flex-direction: column;
  }
  .img-area {
    margin: 20px auto !important;
    border-radius: 150px;
    height: 150px;
    width: 150px;
  }
  .cards-container {
    width: 100%;
    margin: 0;
    .pointer {
      display: none;
    }
    .text-sum {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      .sum-card {
        width: 97% !important;
        margin: 0 !important;
        box-sizing: border-box;
        min-height: 97%;
      }
    }
  }
  .text-h-cont {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;

    .text-sum {
      width: 100%;
      margin: 0;
      width: 100%;
      margin: 0;

      flex-direction: column;
      .sum-card {
        width: 90%;
        margin: 5px auto !important;
        mat-icon {
          width: 20% !important;
        }
      }
    }
  }
  .text-area {
    width: 100vw;
    .sum-cards {
      display: none;
    }
  }

  .ab {
    display: none !important;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    // background-color: yellow;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .g {
      font-size: small;
    }
    .l_n {
      color: var(--theme-icon);
    }
  }
  .img-area {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  h2 {
    margin: 0 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    flex-wrap: wrap;
  }
  .active-indicator {
    display: none !important;
  }
  .exp-section {
    flex: 1;
    .exps-cont {
      max-height: 40%;
      width: 100%;
      .description {
        display: none;
      }
    }
  }
  .exp {
    width: 94%;
    min-height: 180px;
    background-color: var(--nav-bg-color);

    margin: 0.5%;
    max-height: 10px !important;
    .top {
      max-height: 30px !important;
    }
    .more-details {
      .img-cont {
        width: 30%;
        min-height: 60px !important;
        img {
          border-radius: 3px;
        }
      }
      .text {
        h1,
        h2 {
          display: block;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
          text-align: center;
          white-space: normal;
          word-break: break-word;
          font-size: small !important;
          text-align: left !important;
          line-height: 1.2;
        }
      }
    }
    .techs-gained {
      width: 100%;
      overflow: hidden;
      .tech {
        width: 20%;
        height: 20px !important;

        img {
          width: 40%;
          min-height: 50px;
          // margin-right: 2px;
          margin: 0 auto;
        }
        h4 {
          display: none;
        }
      }
    }
  }

  .exp-section mat-card img {
    max-width: 80px !important;
  }

  mat-tab-group {
    display: none;
  }

  .skills-tab {
    width: 100%;
  }
  .skills-cont {
    width: 100%;
    margin: 0;
  }
  .skills-cont mat-card {
    width: 30%;
  }
  .mobile-tech-stack {
    display: flex !important;
  }
  .category {
    width: 70% !important;
    margin: 0 0.5% !important;
  }
}

//TRANSITIONS
@keyframes moveInageArea {
  from {
    margin-left: -100%;
    margin-top: -50%;
  }
  to {
    margin: 0 5%;
  }
}

@keyframes moveTextArea {
  from {
    margin-left: 200%;
    width: 100%;
  }
  to {
    margin-left: 5%;
    width: 50%;
  }
}
