// *{
//   overflow: hidden;
//   overflow-y: scroll;
// }
.cont {
  margin-top: 55px;
  //
  overflow-y: scroll;
}
.intro {
  width: 90%;
  margin-left: 5%;
}
h4 {
  color: var(--font-color) !important;
  font-size: clamp(2rem, 2vw, 2rem);
  font-weight: 600;
  margin: 0 !important;
}

h1 {
  font-size: clamp(1rem, 2vw, 1rem);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  margin: 0 !important;
  color: var(--theme-icon);

}
h2 {
  color: var(--tert-font-color);
  display: flex;
  align-items: center;
  justify-content: left;
}
h2 mat-icon {
  align-items: center;
}
.description {
  width: 100%;
}

mat-card-content {
  align-items: center;
}
mat-icon {
  font-size: large;
  align-items: center;
  height: fit-content;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
  overflow: visible;
}

.text-h-cont {
  width: 60%;
  display: flex;
  margin-left: 1%;

  animation: opacityTrans 0.5s ease-in;
}

.text-area {
  width: 70%;
  padding: 0 3%;
}
.sum-cards {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .sum-card {
    flex: 1;
    margin: 5% 0 0 0.8% !important;
    justify-content: center;
    mat-icon {
      width: 25% !important;
      font-size: xx-large !important;
      // color: var(--font-color) !important;
    }
  }
}
.text-sum {
  width: 30%;
}
.text-sum,
.sum-cards {
  animation: opacityTrans 0.5s ease;
  .sum-card {
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid;
    margin-left: 1%;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    mat-icon {
      color: var(--font-color);
      width: 15%;
      height: 100%;
      font-size: x-large;
      display: flex;
      align-self: center;
      justify-content: center;
      color: var(--theme-icon);
    }
    .sum-text {
      margin-left: 5%;
      flex: 1;
      h3 {
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 600;
        font-size: medium !important;
        color: var(--font-color);
      }
      span {
        width: 100%;
        font-size: small !important;
        color: var(--sec-font-color);
        font-style: italic;
      }
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  h2 {
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    letter-spacing: 1px;
  }
  mat-divider {
    width: 30%;
    height: 1px;
    background-color: var(--theme-icon);
    margin: 0 10px;
    opacity: 0.5;
  }
}

.about-summary {
  width: 100%;
  margin-top: 3%;
  //
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
}
.about-summary .category {
  width: 30%;
}
.category mat-card {
  background-color: var(--nav-bg-color);
  color: var(--font-color);
  width: 100%;
  justify-content: space-evenly !important;
}
.category mat-card mat-icon {
  width: 20%;
  font-size: x-large;
  position: relative;
}
.category mat-card h2 {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
  font-size: small;
  font-style: oblique;
  position: relative;
}
.category-title {
  width: 100%;
  height: 100%;
  align-items: center;
}
.category ul li {
  color: var(--sec-font-color);
}
.img-area {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 0 !important;
  border-radius: 150px;
  align-items: baseline;
  box-shadow: var(--box-shadow);
  animation: /*opacityTrans 5s ease-in,*/ floatEffect 3s ease infinite;
}
.img-area img {
  width: 100%;
}

.exp-section {
  width: 100%;
  flex-wrap: wrap;
}

.exp-section .exp {
  width: 40%;
  background-color: var(--nav-bg-color);
  color: var(--sec-font-color) !important;
  margin: 0.5%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}
.exp-section .cards mat-card {
  background: var(--card-sec-color) !important;
}
mat-card-subtitle {
  color: var(--tert-font-color);
  font-style: italic;
}

.exp-section mat-card img {
  max-width: 200px !important;
}
.skills-tab {
  margin-top: 70px;
  width: 100%;
  //
}
.tab-title {
  color: var(--sec-font-color);
  display: flex;
  justify-content: center;
  align-items: start;
}

.skills-cont {
  margin-left: 12%;
  margin-top: 2%;
  width: 70%;
  //
  flex-wrap: wrap;
}

.skills-cont mat-card {
  width: 12%;
  background-color: var(--nav-bg-color);
  margin: 0.5%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

.skills-cont mat-card img {
  width: 90%;
  margin-left: 5%;
  margin-top: auto;
}
.profficiency {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}
.profficiency p {
  font-size: small !important;
  margin: auto;
}
mat-progress-bar {
  margin: 5% 0%;
  width: 80% !important;
}
.mobile-tech-stack {
  display: flex !important;
}
mat-tab-group {
  display: none;
}

@media (max-width: 820px) {
  p {
    // display: flex;
    text-align: center;
  }
  .intro {
    width: 100%;
    margin: 0;
  }
  .about {
    flex-direction: column;
  }
  .text-area {
    width: 90vw;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .img-area {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  h2 {
    margin: 0 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-small;
    flex-wrap: wrap;
  }
  h2 {
    font-size: large;
  }
  .exp-section .exp {
    width: 94%;
    background-color: var(--nav-bg-color);
    margin: 0.5%;
  }

  .exp-section mat-card img {
    max-width: 80px !important;
  }

  mat-tab-group {
    display: none;
  }

  .skills-tab {
    width: 100%;
  }
  .skills-cont {
    width: 100%;
    margin: 0;
  }
  .skills-cont mat-card {
    width: 30%;
  }
  .mobile-tech-stack {
    display: flex !important;
  }
  .category {
    width: 70% !important;
    margin: 0 0.5% !important;
  }
}

//TRANSITIONS
@keyframes moveInageArea {
  from {
    margin-left: -100%;
    margin-top: -50%;
  }
  to {
    margin: 0 5%;
  }
}

@keyframes moveTextArea {
  from {
    margin-left: 200%;
    width: 100%;
  }
  to {
    margin-left: 5%;
    width: 50%;
  }
}
