/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: rgb(10, 10, 10, 0.9);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
}
@keyframes rgbLight {
  0% {
    filter: drop-shadow(0 0 10px red);
  }
  33% {
    filter: drop-shadow(0 0 10px green);
  }
  66% {
    filter: drop-shadow(0 0 10px blue);
  }
  100% {
    filter: drop-shadow(0 0 10px yellow);
  }
}

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';
