<div class="socials">
  <a href="">
    <i class="bi bi-instagram"></i>
    <div class="link-label instagram">Instagram</div>
  </a>
  <a href="">
    <i class="bi bi-facebook"></i>
    <div class="link-label facebook">facebook</div>
  </a>
  <a href="">
    <i class="bi bi-linkedin"></i>
    <div class="link-label linkedin">Linkedin</div>
  </a>
  <a href="">
    <i class="bi bi-github"></i>
    <div class="link-label github">Github</div>
  </a>
  <a href="">
    <i class="bi bi-whatsapp"></i>
    <div class="link-label whatsapp">Whatsapp</div>
  </a>
</div>
