
.socials {
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  //background-color: rgb(7, 7, 7,.5);
  display: flex;
  justify-content: center;
  animation: opacityTrans 5s ease-in-out;
}
.socials a {
  display: block;
  margin: 0 0%;
  z-index: 0;
  text-decoration: none;
}
.link-label {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-style: normal;
  color: transparent;
  transition: ease-in-out 1s;
}
.socials a:hover .link-label {
  justify-content: center;
  animation: ease-in-out;
  color: var(--font-color);
  //background-color: blue!important;
  padding: 0 10px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  transition: ease-in-out 1s;
}
i {
  width: 50px;
  font-size: xx-large;
  margin: 10px;
  color: var(--font-color);
}
.bi-instagram:hover {
  color: rgb(253, 29, 29);


}
.bi-facebook:hover {
  color: rgb(24, 119, 242);
}
.bi-linkedin:hover {
  color: rgb(0, 119, 181);
}
.bi-whatsapp:hover {
  color: rgb(37, 211, 102);
}
.bi-github:hover {
  color: rgb(24, 23, 23);
}