
.socials {
  // margin-top: 2%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  animation: opacityTrans 5s ease-in-out;
}
.socials a {
  display: block;
  margin: 0 0%;
  z-index: 0;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--nav-bg-color) !important;
  border: 1px solid var(--tert-font-color) !important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.link-label {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-style: normal;
  color: transparent;
  transition: ease-in-out 1s;
}
.socials a:hover .link-label {
  justify-content: center;
  animation: ease-in-out;
  color: var(--font-color);
  //background-color: blue!important;
  // padding: 0 10px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  transition: ease-in-out 1s;
}
i {
  width: 50px;
  font-size: xx-large;
  // margin-right: 10px;
  // background-color: yellow;
  color: var(--font-color);
}
.bi-instagram {
  color: rgba(253, 29, 29, 0.39);


}
.bi-facebook {
  color: rgb(24, 119, 242);
}
.bi-linkedin {
  color: rgb(0, 119, 181);
}
.bi-whatsapp {
  color: rgb(37, 211, 102);
}
.bi-github {
  color: rgb(122, 122, 122);
}


@media (max-width: 820px) {
  .socials {
    width: 100%;
    margin-top: 5%;
    justify-content: space-around;
  }
}