<div class="socials">
  
  <a href="https://www.facebook.com/andile.mazibuko.735" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.linkedin.com/in/andile-mazibuko-69b215275/" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/andile_mazibukoo_001/" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-instagram"></i>
  </a>
  <a href="https://github.com/Andile-mazibuko" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-github"></i>
  </a>
  
  <a href="https://wa.me/27635970787" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-whatsapp"></i>
  </a>
  
</div>
