<div class="cont">
  <div class="route-head center">
    <h1 class="center">My Work</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repellat
      id magni maxime esse quam laboriosam autem consequatur eum! Quam quos
      labore necessitatibus illum, perferendis eveniet. Fuga quae repellat
      nesciunt?
    </p>
  </div>
  <h1 class="subtitle center">Projects</h1>
  <div class="projects-container center">
    <div class="project">
      <div class="media-cont center">
        <img src="assets/images/projects/p1/p1.png" alt="" />
        <div class="tech-used">asdadsaasdasda</div>
      </div>
      <div class="about-proj">
        <h1 class="subtitle center">About Project</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
          blanditiis vero doloribus eius sed enim similique laudantium,
          quibusdam recusandae adipisci et. Et quidem consequuntur nesciunt
          reprehenderit impedit ullam temporibus dignissimos!
        </p>
        <div class="cards">
          <mat-card>
            <mat-card-content class="center">
              <mat-icon class="center"> code </mat-icon>
              name
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content class="center">
              <mat-icon class="center"> code </mat-icon>
              name
            </mat-card-content>
          </mat-card>
        </div>
        <div class="buttons center">
          <button mat-button>view repo</button>
          <button mat-button>Live demo</button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="media-cont">asd</div>
    </div>
  </div>
</div>
