.cont {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 15px;
    color: var(--font-color);
  }
}
h1 {
  margin-top: 0%;
  width: 100%;
  margin-left: 0;
  font-size: 50px;
  height: 50px;
  font-weight: 800;
  padding: 0% !important;
  color: var(--font-color);
  align-items: center;
  span {
    color: var(--theme-icon);
    margin-left: 10px;
  }
  .dot {
    margin: 5px 5px;
  }
}
.temp-box {
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 6%;
  padding-bottom: 2%;
  .icon-container {
    height: 200px;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }

  p {
    color: var(--sec-font-color);
    font-size: 15px;
    width: 50%;
    margin-top: 1%;
    margin: 0 auto;
    text-align: center;
  }

  .btn-container {
    width: 100%;
    margin-top: 5%;
    .btn {
      border: 2px solid var(--theme-icon);
      align-items: center;
      width: 30% !important;
      height: 5vh;
      border-radius: 8px !important;
      margin-left: 0 !important;
      font-size: 0.8rem !important;
      font-weight: 700;
      margin: 0% 5px !important;
      color: var(--font-color);
      mat-icon {
        // font-weight: bold;
        color: var(--theme-icon);
        margin-left: 6px;
      }
    }
  }
}

.bi {
  font-size: 20px;
  margin: auto 10px;
}
.divider{
  margin: 3% 0;
  mat-divider{
    width: 20%;
  }

}
