<div class="body">
  <div class="cont">
    <div class="title">
      <h1 class="center">
        My <span> Projects</span>
        <div class="dot"></div>
      </h1>
      <p>A collection of projects I've built over the past few years</p>
    </div>

    <div class="temp-box center">
      <div class="icon-container center">
        <img src="assets/images/code.svg" alt="" loading="lazy" />
      </div>

      <h1 class="center">Projects <span>Coming soon</span></h1>

      <p>
        I'm currently putting the finishing touches on this section. In the
        meantime, you can explore my projects on GitHub.
      </p>

      <div class="btn-container center">
        <button class="btn center" (click)="openGitHub()">
          <i class="bi bi-github"></i>
          <span>View My GitHub</span>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>

      <div class="divider">
        <mat-divider></mat-divider>
        <div class="circle"></div>
        <h2 class="center">Section Under Construction</h2>
        <div class="circle"></div>
        <mat-divider></mat-divider>
      </div>

      <p>Projects Will Be Added Soon</p>

    </div>
  </div>
  <app-footer></app-footer>
</div>
