<div class="cont">
  <div class="route-head center">
    <h1 class="center">My Work</h1>
    <p>
     Quest log of my coding journey — projects completed and XP earned
    </p>
  </div>
  <h1 class="subtitle center">Projects</h1>
  <div class="projects-container center">
    <div *ngFor="let project of projects;let i = index" class="project">
      <div class="media-cont center">
        <img
          *ngIf="project.projectTpe === 'Web-App'"
          [src]="project.filePaths[0]"
          alt=""
          class="proj-img Web-App-img"
        />
        <img
          *ngIf="project.projectTpe === 'Mobile'"
          [src]="project.filePaths[0]"
          alt=""
          class="proj-img Mobile-img"
        />
        <img
          *ngIf="project.projectTpe === 'Mobile'"
          [src]="project.filePaths[1]"
          alt=""
          class="proj-img Mobile-img"
        />
        <div class="second-pic">
          <img
          *ngIf="project.projectTpe === 'Web-App'"
          [src]="project.filePaths[1]"
          alt=""
          class="proj-img Web-App-img"
        />
        </div>
      </div>
      <div class="about-proj">
        <h1 class="number subtitle center">{{ formatNumber(i+1)}}</h1>
        <h1 class="subtitle center" [id]="project.name">{{ project.name }}</h1>
        <p>
          {{  project.description }}
        </p>
        <div class="cards">
          <mat-card *ngFor="let card of project.techStack">
            <mat-card-content class="center">
              <mat-icon class="center"> {{ card.icon }} </mat-icon>
              {{ card.name }}
            </mat-card-content>
          </mat-card>
        </div>
        <div class="buttons center">
          <button mat-button>view repo</button>
          <button mat-button>Live demo</button>
        </div>
      </div>
    </div>
  </div>
</div>
