.cont {
  // margin-top: 55px;
  display: block;
  // 
  position: fixed;
  overflow: hidden;
  overflow: scroll;
  top: 3%;
  height: 97%;
  width: 100%;
}
h1 {
  font-size: 2.5rem;
  width: 100%;
  margin: 3% 0;
  color: var(--sec-font-color);
  font-weight: 900;
}

.projects-cont {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  mat-card {
    width: 20%;
    height: 40vh;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    gap: 0;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    display: block;

    .project-image-container {
      height: 50%;
      width: 90%;
      margin: auto;
      margin-top: 15px;
      object-fit: cover;
      border-radius: 15px;

      img {
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
      }
    }

    .project-name,
    .project-desc {
      width: 90%;
      margin: 0 auto;

      h1 {
        font-size: 1.5rem;
        color: var(--font-color);
        font-weight: 800;
        margin-top: 15px;
      }
      p {
        margin-bottom: 10%;
      }
    }
    .actions {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      
      .explore-btn {
        margin-left: 0 !important;
        width: 80%;
        background: var(--btn-color) !important;
        backdrop-filter: blur(10px) !important;
        -webkit-backdrop-filter: blur(10px) !important;
        color: white !important;
      }
      .view-project{
        width: 5%;
        
      }
    }
  }
  mat-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}


// Remove margin from all buttons
button {
  margin: 0 !important;
}